@model EquipmentRentalCore.Models.RentViewModels.RentAddModel
@{
    ViewData["Title"] = "Rent an equipment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="UserID" />
            <div class="form-group">
                <label asp-for="RentStart" class="control-label"></label>
                <input disabled asp-for="RentStart" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="RentEnd" class="control-label"></label>
                <input disabled asp-for="RentEnd" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="EquipmentList" class="control-label"></label>
                <select asp-for="EquipmentID" asp-items="@Model.EquipmentList" class="form-control"></select>
                <span asp-validation-for="EquipmentList" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input disabled asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Rent" class="btn btn-success" />
                <a asp-action="Index" asp-controller="Rental" class="btn btn-danger">Cancel</a>
            </div>
        </form>
    </div>
</div>

