
@{
    ViewData["Title"] = "Main";
}

<h2>Main</h2>
<main id="content" role="main">
    <section class="main-section d-flex align-items-center h-100 mb-4">
        <div class="container">
            <div class="jumbotron jumbotron-fluid">
                <div class="container text-white">
                    <h1>Wypożyczalnia Przyszłości</h1>
                    <h5> Z nami nie ma rzeczy nie możliwych </h5>
                </div>
            </div>

        </div>
    </section>
    <hr />
    <div class="container">
        <section class="pt-5 pb-5">
            <div class="row">
                <div class="col-md-5">
                    <h4 class="text-center text-md-left pb-4">Witamy w naszej wypożyczalni </h4>
                    <p class="text-center text-md-left">
                        U nas zawsze znajdziesz cos dla siebie. Skontaktuj się z nami lub napisz a my Ci w tym pomożemy.
                        Sprzęt każdego kalibru!!!
                    </p>
                </div>
                <div class="col-md-5 offset-md-2">
                    <img class="img-fluid" src="~/Images/images1.jpg" />
                </div>
            </div>
        </section>
        <hr />
    </div>
    <div class="container">
        <section class="pt-5 pb-5">
            <h4 class="text-center pb-4">Pierwsze kroki</h4>
            <p class="text-center text-md-left">
                W pierwszym kroku zastanów się co chcesz wypożyczyć przemyśl to dokładnie i rezerwuj to jest bardzo proste!!!
            </p>
            <div class="card-container row">
                <div class="col-sm-6 col-lg-3 mb-3">
                    <div class="card">
                        <img src="~/Images1/kamper.jpg" class="card-img-top img-fluid" alt="..." />
                        <div class="card-body">
                            <p class="card-text">Kampery większe i mniejsze.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3 mb-3">
                    <div class="card">
                        <img src="~/Images1/namiot.jpg" class="card-img-top img-fluid" alt="..." />
                        <div class="card-body">
                            <p class="card-text">Namioty różnego rodzaju.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3 mb-3">
                    <div class="card">
                        <img src="~/Images1/plecaki.jpg" class="card-img-top img-fluid" alt="..." />
                        <div class="card-body">
                            <p class="card-text">Plecaki dla Niej i dla Niego.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3 mb-3">
                    <div class="card">
                        <img src="~/Images1/moskitiera.jpg" class="card-img-top img-fluid" alt="..." />
                        <div class="card-body">
                            <p class="card-text">Również coś od owadów</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr />
    </div>

</main>
